@import '../../shared/less-ui/less/variables.less';
@import (reference) '../../shared/less-ui/less/mixins.less';
@import 'core/compatibility.less';

// widget variables override.
@widget-ns: ~"";
@widget-overlay-shadow : 0 0 4px rgba(0, 0, 0, 0.17);
@widget-global-radius: @radius-lg;
@widget-global-primary: @global-primary;
@widget-text-color: @text-color;
@widget-border-radius: @widget-global-radius;

//font size
@widget-font-size-base: @font-size-sm; //@font-size-base;

// brand colors.
@widget-default-color:#d4d4d4;
@widget-primary-color:@global-primary;
@widget-secondary-color:@global-secondary;
@widget-success-color:@global-success;
@widget-warning-color:@global-warning;
@widget-danger-color:@global-danger;
@widget-info-color:@global-info;

