@import '../../shared/less-ui/less/variables.less';
@import (reference) '../../shared/less-ui/less/mixins.less';
@import 'core/compatibility.less';
// widget variables override.
@widget-ns: ~"";
@widget-overlay-shadow : 0 0 4px rgba(0, 0, 0, 0.17);
@widget-global-radius: @radius-lg;
@widget-global-primary: @global-primary;
@widget-text-color: @text-color;
@widget-border-radius: @widget-global-radius;

// brand colors.
@widget-success-color:@global-success;
@widget-danger-color:@global-danger;
@widget-error-color:@global-danger;
@widget-primary-color:@global-primary;


