.doc-page {
  .page-body {
    font-size: 14px;
  }
  .scrollarea .scrollarea-content {
    padding: 5px;
    padding-right: 0;
  }
  .nav {
    margin: 0;
    padding: 0;
  }
  .nav-left-dock {
    min-width:245px;

    &.menu {
      border: 0;
    }
    &.menu-sub {
      color: #777;
      .menu-item{
        font-style: 16px;
      }
    }
    .menu-title-en {
      font-size: 10px;
      color: #999;
      font-weight: 400;
      margin-left: 5px;
      vertical-align: bottom;
    }
    .menu-submenu-title {
      font-size: 16px;
      font-weight: 700;
      padding-left: 8px;
      color: #555;
      border-left: 3px solid #DCD8D8;
      &:after {
        display: none;
      }
    }
    .menu-submenu-open {
      .menu-submenu-title {
        border-left-color: #3bb4f2;
      }
    }
    a {
      color: #777;
      font-size: 16px;
      display: block;
    }
  }
}

.doc-content {
  overflow: hidden;
  word-wrap: break-word;
  counter-reset: header2;
}

.doc-content {
  >h2 {
    counter-increment: header2;
    counter-reset: header3;
    &:before {
      content: counter(header2)". "
    }
  }
}

.doc-content {
  >h3 {
    counter-increment: header3;
    counter-reset: header4;
    &:before {
      content: counter(header2)"." counter(header3)" "
    }
  }
}

.doc-content {
  >h4 {
    counter-increment: header4;
    &:before {
      content: counter(header2)"." counter(header3)"." counter(header4)" "
    }
  }
}

.doc-content {
  >h2:before,
  >h3:before,
  >h4:before {
    color: #888;
    font-weight: 400
  }
}
